      <div class="sidebar">
        <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"> Webコンテンツ管理</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="#"> FAQ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> EventSchedule</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"> Userコンテンツ管理</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="#"> 連絡帳</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> 連絡帳template</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"> BBS</a>
              </li>
            </ul>
          </li>
        </ul>
        </nav>
      </div><!-- sidebar -->
